html {
  box-sizing: border-box;
  font-family: "Fredoka One", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grid {
  background-image: repeating-linear-gradient(45deg, #c9fcff, #d4fdff);
}

h1 {
  color: #990073;
  filter: drop-shadow(1px 1.5px rgba(0, 0, 0, .2));
  transform-origin: left-center;
  transform: rotate(-8deg);
}

p {
  color: #c09;
  max-width: 19em;
  filter: drop-shadow(1px 1.5px rgba(0, 0, 0, .2));
  transform-origin: left-center;
  transform: rotate(-4deg);

}

.btn-ghost {
  color: #c09;
  border: solid 2px #990073;
}

.btn-ghost:hover {
  background-color: rgba(99,00,73, .1);
  border-color: #990073;
  border: solid 2px #990073;
}

.text {
  transition:
}
